
*{
    width: 100%;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}



/*HEADER*/

header {
    display: flex;
    flex-direction: row;     
}

/*logo for the first page*/
.logo {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #0A1B32;
    margin: 37px 0 auto 80px;
    width: auto;

}

.logo-dot {
    color: #4F56F1;
    display: inline-block;
    margin-right: 97.5px;
}

/*logo for the second page*/

.logo-dot-green{
    color: #A3DC00;
    display: inline-block;
    margin-right: 97.5px;
}


/*navigation*/

.nav-list{
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style-type: none;  
    font-size: 16px;
    color: #1B0A42;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-top: 48px;
}



.nav-list_el{
    width: auto;
    margin-right: 38px;
}



/*SIGN IN // SIGN UP*/
.header-sign {
    display: flex;
    flex-direction: row;
    

}

/*sign-in*/
.header-text{
    width: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400; 
    font-size: 16px;
    color: #1B0A42;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin: 48px 0 auto auto;
    padding: 0;
   
}

/*button sign up*/
.header-btn{
    width: 120px;
    height: 59.65px;
    margin-top: 30px;
    margin-right: 67.74px;
    background-color: #4F56F1;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
    margin-left: 40.3px;  
    margin-bottom: 15px;
}

.header-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



/*Main*/

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 130px;

}

.main-class{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    height: auto;
    
}

/*Stay Productive & Work Remotely*/

.main-title{
    font-family: 'Ramaraja', serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0.02em;
    color: #1B0A42;
    width: 496px;
    margin-bottom: 10px;
    margin-top: 203.09px;
    
      
}

/*text*/

.main-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #9A9A9A;
    width: 538.08px;
    margin: 0;

}

/*image for the first page*/
.img-meditating-girl{
    width: 653px;
    height: 604px;
    margin-top: 114px;
    margin-right: 94px;
    margin-left: 114.52px;
    
}

/*image for the second page*/
.img-meditating-girl-green{
    width: 756px;
    height: 638px;
    margin-top: 83.39px;
    margin-right: 42px;
    margin-left: 19.29px;
    
}


/*button the first page*/
.main-btn{
    width: 152px;
    height: 63.82px;
    margin-top: 50px;
    
    background-color: #4F56F1;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
      
}

.main-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/*button for the second page*/
.main-btn-second{
    width: 152px;
    height: 63.82px;
    margin-top: 50px;
    
    background-color: #A3DC00;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none; 
}

.main-btn-second:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}





